.venv/
__pycache__/
*.pyc
.env
.pytest_cache/

infra/terraform/.terraform/
infra/terraform/v2-container-app/.terraform/

infra/terraform/terraform.tfvars
infra/terraform/v2-container-app/terraform.tfvars

*.tfstate
*.tfstate.*
crash.log
